<h1><%= pluralize(@businesses.count, 'Business') %></h1>

<% @businesses.each do |business| %>
  <article>
    <header>
      <h2><%= business.title %></h2>
    </header>
    <p>
      <%= truncate(business.description, length: 40, separator: ' ') %>
    </p>
    <p>
      <%= business.website %>
    </p>
  </article>
<% end %>