<article>
  <header>
    <h1><%= @business.title %></h1>
  </header>
  <p>
    <%= @business.description %>
  </p>
  <p>
    <%= @business.website %>
  </p>
</article>

<%= link_to "All Businesses", businesses_path %>